<app-header></app-header>

<!--http://localhost:4200/-->
<main>
  <section class="main-section">
    <div class="headline">
      <span>Desafio Photoshop Brasil</span>
      <!--Descrição sobre-->
      <h1>Explore o mundo DPB</h1>
      <h3>Embarque em uma jornada de criatividade e desafios únicos e arte digital se encontra com a imaginação  sem limites.</h3>

      <!--Imagem do main section-->
      <img ngSrc="/assets/principal.png" width="669" height="536">
    </div>
  </section>
  <!--Sessão de desafios-->
  <section class="desafios-section">
    <div class="desafios-cards">
      <h2>Desafios DPB</h2>
      <p>Explore a diversidade de estilos e talentos , uma experiencia visual  que inspira criatividade  e celebra  a imaginação sem limites  </p>
    </div>

  </section>

</main>
