main{
  display:flex;
  flex-direction:column;
  gap: 84px;

  }

//Main section
.main-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;

  font-family:"Roboto", sans-serif;

   padding: 0 70px;

  span {
      font-size: 20px;
      font-weight: 700;
    }

  h1{
      font-size: 45px;
      font-weight: 900;
    }

  .desafios-section{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;

    padding: 0 70px;


    h2{
      font-size: 60px;
      font-weight: 600;
      font-family: "Roboto", sans-serif;

      }

    }

   p{
     font-size: 20px;
     }
  }
.btnGaleria{
  display:flex;
  align-items:center;
  }

.carrocel-section{
  padding: 0 70px;
  align-items:center;
  flex-direction: column;
  display:flex;
  justify-content:flex-start;


  h2{
       font-size: 36px;
       font-weight: 600;

    }

  }

@media (min-width:1080px){
    .main-section{
        flex-direction:row;
      }

    .desafios-section{
        flex-direction:row;
      }


  }
