<app-header></app-header>

<!--http://localhost:4200/-->
<main>
  <section class="main-section">
    <div class="headline">
      <span>Desafio Photoshop Brasil</span>
      <!--Descrição sobre-->
      <h1>Explore o mundo DPB</h1>

      <h3>Embarque em uma jornada de criatividade e desafios únicos e arte digital se encontra com a imaginação  sem limites.</h3>

    </div>
    <!--Imagem do main section-->
    <!--<img ngSrc="/assets/principal.png" width="669" height="536">-->
  </section>
</main>
