<main>
  <section class="form-section">
  <!--Formulário login-->
    <!--Logo,titulo , formulario , botoes login now e sigup now-->
   <!-- </img>-->
    <!--Login e criar conta botões -->
    <h2>{{title}}</h2>
    <!--Injetando formulario atraves do ng-content tudo que vem do html do form vem pra ca-->
    <ng-content></ng-content>

    <div class="btn-wrapper">
      <button class="btn-primary">{{ primaryBtnText }}</button>
      <button class="btn-secondary">{{ secondaryBtnText }}</button>
    </div>

  </section>
  <section class="main-section">

    <h1>Desafio Photoshop Brasil</h1>
    <!--</img>-->
    <img src="/assets/img/the_lord_of_the_four_seasons_by_bimartins_dav8aa3.jpg"/>
  </section>
</main>
