<main>
  <section class="form-section">
  <!--Formulário login-->
    <!--Logo,titulo , formulario , botoes login now e sigup now-->
   <!-- </img>-->
    <!--Login e criar conta botões -->
    <h2>{{title}}</h2>

    <div class="btn-wrapper">
      <button class="btn-primary">{{ primaryBtnText }}</button>
      <button class="btn-secondary">{{ secondaryBtnText }}</button>
    </div>

  </section>
  <section class="main-section">

    <h1>Desafio Photoshop Brasil</h1>
    <!--</img>-->
  </section>
</main>
